
*{
    padding: 0;
    margin: 0;
}

/* Here you canchange the background color of your website. */
body{
    background-color: rgb(100, 99, 99);
}

.sidebar{
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgb(15, 15, 15);
}

.sidebar header{
    font-size: 50px;
    color: rgb(255, 253, 253);
    text-align: center;
    line-height: 70px;
    background-color: rgb(36, 36, 36);
}

.sidebar ul a{
    display: block;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: white; 
    padding-left: 20px;
    text-decoration: none;
    transition: 0.6s ease;
}

/* This is here to add the hover effect to the li tags. */
.sidebar li:hover a{
    padding-left: 50px;
    text-decoration : underline solid white;

}
